*{
    
    gap: 15px;

}

body {
    background-color: lightblue;
}
header {
    background-color: lightblue;
    padding: 3rem;
    text-align: center;
    font-size: 24px;
    color: black;
}

.head-logo {
    margin-right: 5px;
    margin-left: 0;
    max-height: 100%;
    float: left;
}

nav {
    background-color: lightblue;
    padding: 1rem;
    text-align: center;
    font-size: 18px;

}

nav p {
    color: black;
}

footer {
    background-color: lightblue;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: lightblue;
}

/* .article1 .article-content{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.article2 .article-content {
    display: flex;
    flex-direction: column;
    align-items: center; */
/* } */

article button {
    height: 2rem;
}
/* .article2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.article2 button {
    height: 2rem;
} */
footer p {
    color: black;
}